<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>ScrollBinder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Style sheets -->
    <link rel="stylesheet" href="styles/angular-material.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/angular-toastr.css">

    <!-- Roboto fonts: Normal(400), Medium(500), Bold(700) -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
  </head>

  <body ng-app="myappApp" layout="row" layout-fill role="main">
    <div ng-controller="AppCtrl" layout="column" layout-fill>

      <!-- Main Toolbar -->
      <md-toolbar id="mainMenu" class="md-primary">
        <div class="md-toolbar-tools">
          <md-button class="md-primary appMenu" ng-click="toggleLeft()" aria-label="Menu">
            <md-icon icon="img/icons/ic_menu_white_24dp.png" style="width: 24px; height: 24px;"></md-icon>
          </md-button>
          <span class="md-flex">ScrollBinder</span>
          <div id="profileBtns" ng-controller="authCtrl">
            <p ng-controller="AppCtrl" ng-class="{'hide' : isLogged == false}" ><a ng-click="logout()">Log Out</a></p>
          </div>
        </div>
      </md-toolbar>

      <!-- Left Navigation -->
      <section layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-is-open="false" md-component-id="left">
          <md-toolbar>
            <div class="md-toolbar-tools">
              <span flex="85" class="md-flex">Menu</span>

              <md-button flex="15" class="md-primary closeAppMenu" ng-click="toggleLeft()" aria-label="Close Menu">
                <img  style="width: 24px; height: 24px;" src="img/icons/ic_clear_white_24dp.png">
              </md-button>

            </div>
          </md-toolbar>

          <!-- Navigation Links -->
          <md-content ng-controller="LeftCtrl">

            <md-button ng-click="go('/')" class="md-padding md-primary menu-item">
              Home
            </md-button>

            <!-- Login/Signup buttons will hide if user is logged in-->
            <md-button ng-click="go('/login')" ng-class="{'hide' : isLoggedIn}" class="md-padding md-primary menu-item">
              Login
            </md-button>

            <md-button ng-click="go('/signup')" ng-class="{'hide' : isLoggedIn}" class="md-padding md-primary menu-item">
              Sign Up
            </md-button>

            <!-- Profile button will hide if user is logged out-->
            <md-button ng-click="go('/profile')" ng-class="{'hide' : isLoggedIn == false}" class="md-padding md-primary menu-item">
              Profile
            </md-button>

            <!-- Adventure Log will hide if user is logged out-->
            <md-button ng-click="go('/adventure-log')" ng-class="{'hide' : isLoggedIn == false}" class="md-padding md-primary menu-item">
              Adventure Log
            </md-button>

            <md-button ng-click="gotoTop(); go('/members')" class="md-padding md-primary menu-item">
              Members
            </md-button>

            <md-button ng-click="gotoTop(); go('/character-details')" class="md-padding md-primary menu-item">
              Character Details
            </md-button>

            <md-button ng-click="gotoTop(); go('/proficiency')" class="md-padding md-primary menu-item">
              Proficiency
            </md-button>

            <md-button ng-click="gotoTop(); go('/ability-scores')" class="md-padding md-primary menu-item">
              Ability Scores
            </md-button>

            <md-button ng-click="go('/character-summary')" class="md-padding md-primary menu-item">
              Character Summary
            </md-button>
          </md-content>
        </md-sidenav>
        <!-- /Navigation Links -->

        <!-- View content-->
        <md-content flex>
          <div id="doc-content" layout="column" layout-fill layout-align="center center">

            <!-- Render the selected view -->
            <div id="view-content" ng-view=""></div>

          </div>
        </md-content>
        <!-- /View content-->

      </section>
    </div>

    <!-- I took all of my Angular components and minified them into one file: -->
    <script src="scripts/libs/angular-components.min.js"></script>
    <script src="scripts/libs/angular-toastr.tpls.js"></script>

    <!-- The rest of the app/controller: -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/details.js"></script>
    <script src="scripts/controllers/proficiency.js"></script>
    <script src="scripts/controllers/ability-scores.js"></script>
    <script src="scripts/controllers/summary.js"></script>
    <script src="scripts/controllers/authCtrl.js"></script>
    <script src="scripts/controllers/members.js"></script>

    <!-- These scripts are from a online tutorial I followed: http://www.angularcode.com/user-authentication-using-angularjs-php-mysql/ -->
    <script src="scripts/data/data.js"></script>
    <script src="scripts/data/directives.js"></script>

    <!-- Config file for the toasts that appear at the bottom of the screen: -->
    <script src="scripts/libs/toastr-config.js"></script>


</body>
</html>
