<!-- page title -->
<div id="pageTitle" class="titleBar" layout="row">
  <h2>{{name}}'s Profile</h2>
</div>

<!-- Profile info -->
<section id="profileInfo" class="md-padding">
  <div ng-controller="AppCtrl">
    <form id="profileInfo" name="profileInfo">
      <p>User ID - <strong>{{uid}}</strong></p>
      <!-- hide original email while editing -->
      <div ng-class="{'hide' : editingEmail == true}">
        <md-input-container layout="row" ng-class="{'hide' : editingEmail == true}" flex="100">
          <p>Email - <strong>{{myEmail}}</strong>
            <md-button class="editBtn md-raised" type="submit" ng-click="editEmail()"><span>Edit</span></md-button>
          </p>
        </md-input-container>
      </div>
      <md-input-container layout="row" ng-class="{'hide' : editingEmail == false}" flex="100">
        <p>Email -
          <input class="editInput"  placeholder="{{email}}" type="email" name="email" ng-model="newEmail.email"  ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+.[a-z0-9-]/" autocomplete="off">
          <md-button class="editBtn md-raised md-primary" ng-click="confirmEmail(newEmail)"><span>Confirm</span></md-button>
          <md-button class="editBtn md-raised" ng-click="cancel()"><span>Cancel</span></md-button>
        </p>
      </md-input-container>

      <p>User experience - <strong>{{userExperience}}</strong></p>
    </form>
  </div>

  <md-button class="md-raised md-primary" type="submit" ng-click="go('adventure-log')" flex="50"><span>View Adventure Log</span></md-button>
    
  <md-button class="md-raised md-primary" type="submit" ng-click="go('twitter-connect')" flex="50"><span>Connect Twitter Account</span></md-button>
</section>
