<div id="pageTitle" class="titleBar" layout="row">
  <h2>{{name}}'s Profile</h2>
</div>

<section id="profileInfo" class="md-padding">
  <p>User ID - <strong>{{uid}}</strong></p>
  <p>Email - <strong>{{email}}</strong></p>
  <h3>Messages:</h3>
  <div ng-repeat="item in test">
    <strong>msgID</strong>: {{test[$index][0]}} | <strong>Message:</strong> {{test[$index][2]}}
  </div>
  <md-input-container>
    <label class="placeholderLabel">Add Message:</label>
    <input type="textarea" name="message" ng-model="newMessage.message" required>
  </md-input-container>
  <!-- <md-input-container>
    <input class="" type="text" name="uid" value="{{uid}}" ng-model="newMessage.uid">
  </md-input-container> -->
  <md-button class="md-raised md-primary" type="submit" ng-click="postMessage(newMessage)" flex="50"><span>Post Message</span></md-button>

</section>
