<div id="pageTitle" class="titleBar" layout="row">
  <h2>Sign up</h2>
</div>

<md-content class="md-padding" md-theme="default">
  <section layout="row" layout-sm="column" layout-align="center">
    <form id="signupForm" flex="100" layout="column" name="registration" class="form-horizontal" role="form">
      <md-input-container flex="100">
        <label class="placeholderLabel">Username</label>
        <input type="text" name="username" ng-model="signup.username" autocomplete="off" required>
        <div ng-messages="registration.name.$error">
          <div ng-message="required">Username is required</div>
        </div>
      </md-input-container>

      <md-input-container flex="100">
        <label class="placeholderLabel">Email</label>
        <input type="email" name="email" ng-model="signup.email" autocomplete="off" required>
        <div ng-messages="registration.email.$error">
          <div ng-message="email">Invalid Email</div>
        </div>
      </md-input-container>

      <md-input-container flex="100">
        <label class="placeholderLabel">Password</label>
        <input type="password" name="password" ng-model="signup.password" minlength="5" required>
        <div ng-messages="registration.password.$error">
          <div ng-message="minlength">Must be at least 5 characters</div>

        </div>
      </md-input-container>

      <md-input-container flex="100">
        <label class="placeholderLabel">Retype Password</label>
        <input type="password" name="password2" ng-model="signup.password2" password-match="signup.password" required>

        <div ng-messages="registration.password2.$error">
          <div ng-message="passwordNoMatch">Passwords do not match</div>
        </div>

      </md-input-container>

      <md-button id="signupBtn" class="md-raised md-primary" type="submit" ng-click="signUp(signup)" flex="50"><span>Register User</span></md-button>
    </form>

  </section>
</md-content>
